*{
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
}
div{
    margin: 18.5% auto;
    padding: 0;
}
table{
    margin: auto;
    border-style:solid;
    border-width: 4px;
    border-color: black;
    border-radius: 10px;
    background-color: rgb(104, 107, 110);
}
button{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%/10px;
    font-weight: 900;
    outline: none;
    background-color: inherit;
    font-size: 15px;
    color: aliceblue;
    
}
#uh{
    color: rgb(0, 245, 41);
    font-size: 20px;
}
.uh{
    height: 140px;
    background-color: rgb(0, 245, 41);
    border-radius: 15px;
}
button:hover{
    background-color: rgb(17, 150, 194);
    color: white;
}
input{
    width: 100%;
    height: 50px;
    resize: none;
    margin: 1px auto;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    direction: rtl;
}
input:hover{
    background-color: white;
    color: black;
}
thead{
    font-family: cursive;
    color: lightgreen;
}
@media screen and (min-width:400px) {
    div,body{
        max-width: 100%;
        display: block;
        padding: 0;
        margin: 1px auto;
        background-image: radial-gradient(blue, red, yellow);
        background-repeat:repeat;
    }
    table{
        max-width: 100%;
    }

}